<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
  <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.6/material.cyan-orange.min.css" />
  <script src="//storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
